@charset "UTF-8";

/*共通設定*/
html {
  font-size: 100%
}

body {
  font-family: "DotGothic16", 'sans-serif';
  line-hight: 1.7;
  color: black;
  margin: auto;
  width: 100%;
}

.txt{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
}

/* a {
  text-decoration: none;
  color: black;
  
}
a:hover{color: darkgray;}  */

a {
  position: relative;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

a:hover {
  color: darkgray;
}

a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  height: 4px;
  background: darkgray;
  transition: 0.3s;
}

a:hover::before {
  left: 0;
  width: 100%;
}

/* .bg-image{
  background-image: url('/images/hanabi2.jpg');
  background-size: cover;
  background-attachment: fixed;
}  */

/*ナビゲーション装飾*/
h1{
  font-size: 35px;
}
h2{
  font-size: 35px;
}

.main-nav {
  display: flex;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

.main-nav li {
  margin-left: 36px;
}

.mainLink {
  position: relative;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.mainLink:hover {
  color: darkgray;
}

.mainLink::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  height: 4px;
  background: darkgray;
  transition: 0.3s;
}

.mainLink:hover::before {
  left: 0;
  width: 100%;
}

/*ヘッダーの並列配置設定*/
.page-header h2 {
  color: #FFD0D0;
}

/* .page-header h2:hover{color: darkgray;} */
.page-header {
  display: flex;
  justify-content: space-between;
  color: #FFD0D0;
  background-color: black;
  padding: 0 10%;
}

/*余白設定*/
/* .wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
} */

/*画像の手前の文字設定*/
.home-content {
  text-align: center;
  margin-top: 15%;
}

.home-content h1 {
  color: aliceblue;
}

.home-content p {
  font-size: 2.125rem;
  margin: 10px 0 42px;
  color: #0090aa;
  background-color: lavender;
}

.button {
  font-size: 1.375rem;
  background-color: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}

.button:hover {
  background: #0090aa;
}

#atte {
  font-size: 1.5rem;
  color: #432;
}

/*背景画像設定*/
@keyframes removeBlur {
  0% {
    filter: blur(10px);
  }

  100% {
    filter: blur(0px);
  }
}

.big-bg {
  background-size: cover;
  background-position: center top;
  width: 100%;
}

#home {
  background-image: url('/images/IMG_3384.JPG');
  filter: blur(10px);
  /* 最初はぼかしをかける */
  animation: removeBlur 3s ease-in-out forwards;
  min-height: 100vh;
}

#home .page-title {
  text-transform: none;
}

/*スライドショー*/
.slider {
  width: 100%;
  height: 1000px;
}


/*開催日時セクション*/
.schedule {
  padding: 15px;
  
}

.date-title {
  border-bottom: 4px solid darkgrey;
}

.date {
  font-size: 1.5rem;
  text-align: center;
}

.countdown {
  font-size: 1.8rem;
  text-align: center;
  
}
/*トピックセクション*/
.Topics{
  padding: 15px;
}
.Topic-title{
  border-bottom: 4px solid darkgray;
  color: black;
}
.content-date{
  margin-bottom: 0px;
  font-size: 23px;
  display: flex;
  /* border-top: 2px solid black; */
}
 .content-txt{
  /* font-family: "Shippori Mincho B1", serif; */
  margin: 0px;
  /* border-bottom: 2px solid black; */
} 
.viewmore{
  margin: 0px;
  font-size: 13px;
}

/*topicpage*/

.topicpage-date{
  font-size: 23px;
  margin-bottom: 0px;
  border-top: 3px solid darkgray;
}
.topicpage-txt{
  margin-top: 0px;
  border-bottom: 3px solid darkgray;
}

.new{
  color: red;
  margin: 0;
  font-family: "DotGothic16", 'sans-serif';
  font-size: 20px;
  text-shadow: #fff 2px 0, #fff -2px 0, #fff 0 -2px, #fff 0 2px, #fff 2px 2px, #fff -2px 2px, #fff 2px -2px, #fff -2px -2px, #fff 1px 2px, #fff -1px 2px, #fff 1px -2px, #fff -1px -2px, #fff 2px 1px, #fff -2px 1px, #fff 2px -1px, #fff -2px -1px, rgba(0, 0, 0, .5) 3px 3px 3px;

}

/*SNSセクション*/
.sns {
  padding: 15px;
}

.sns-title {
  /* margin-left: 100px; */
  border-bottom: 4px solid darkgray;
  color: black;
}

 .sns-bg {
  display: flex;
  justify-content: space-between;
  /* margin-left: 150px; */
} 

.sub-title {
  margin-bottom: 30px;
}

.sns-box {
  width: 30%;
  text-align: center;
}

/*アクセスセクション*/

.access {
  /*margin-left: 36px;*/
  padding: 15px;
}

.acc-info {
  margin-left: 1px;
  border-bottom: 4px solid darkgray;
}

.acc-detail {
  text-align: center;
  margin-top: 25px;
  font-size: 1.5rem;
}

.goo-map {
  aspect-ratio: 16 / 9;
  max-width: 1000px;
  width: 100%;
  height: 1000px;
}


.backtop {
  text-align: center;
  padding: 10px;
  background-color: darkgray;
}

/*フッダーセクション*/
footer {
  background-color: black;
  text-align: center;
  padding: 26px 0;
  width: 100%;
}

footer p {
  color: #fff;
  font-size: 0.875rem;
}

/*googleform*/
.form {
  text-align: center;
  background-color: white;
}

.goo-form {
  width: 80%;
}


.coming {
  text-align: center;
}

/*オープニングアニメーション*/

.loadingTxt{
  font-size: 24px;
}


/*--------------スマホのレスポンシブデザイン-------------*/

@media (max-width:600px) {

  h1{
    font-size: 20px;
  }

  h2{
    font-size: 17px;
  }

  .page-header {
    font-size: 0.5rem;
    flex-direction: column;
  }

  .wrapper {
    padding: 0;
  }

  /*Header*/
  .main-nav {
    font-size: 0.5rem;
    margin-top: 10px;
  }

  .main-nav li {
    margin: 0 10px;
  }

  /*HOME*/
  .home-content {
    margin-top: 20%;
  }

  /*開催日時セクション*/
  .schedule {
    padding: 15px;
  }

  .date {
    font-size: 1rem;
  }

  .countdown {
    font-size: 1.4rem;
  }
  .date-detail{
    padding-left: 0px;
    font-size: 0.95rem;
  }

  /*トピックセクション*/
  .content-date{
    margin-top:10px;
    font-size: 20px;
  }
  .content-txt{
    font-size: 15px;
    padding-left: 10px;
  }

  .viewmore{
    font-size: 13px;
    text-align: right;
  }


  /*SNSセクション*/
  .sns {
    padding: 15px;
  }

  .sns-bg {
    flex-direction: column;
  }
  .sns-box{
    width: 100%;
    
  }
  .sns-mob{
    
  }

  /*スライドショー下余白*/
  .slider {
    height: 250px;
    width: 100%;
  }

  .slider {
    overflow: hidden;
  }

  /*アクセス情報*/
  .bg-access {
    padding: 15px;
  }

  .way {
    padding: 0px;
  }

  .acc-detail {
    font-size: 1rem;
    margin-top: 0px;
  }

  .goo-map {
    height: 500px;
  }

  /* フッダーセクション */
  .ft{
    font-size: 0.5rem;
  }

  /*トピックページ*/
  .topicpage-date{
    margin-bottom: 0px;
    border-top: 2px solid darkgray;
    font-size: 15px;
  }
  .topicpage-txt{
    font-size: 10px;
    margin-top: 0px;
    border-bottom: 2px solid darkgray;
  }
  .new{
    font-size: 15px;
  }

  /*オープニングアニメーションセクション*/
  .loadingTitle{
    font-size: 20px;
  }

  .loadingTxt{
    font-size: 13px;
  }


}