@charset "UTF-8";

/*共通設定*/
html {
  font-size: 100%
}

body {
  font-family: "DotGothic16", 'sans-serif';
  line-height: 1.7;
  color: black;
  margin: auto;
  width: 100%;
}

.txt{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
}

/* a {
  text-decoration: none;
  color: black;
  
}
a:hover{color: darkgray;}  */

a {
  position: relative;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

a:hover {
  color: darkgray;
}

a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  height: 4px;
  background: darkgray;
  transition: 0.3s;
}

a:hover::before {
  left: 0;
  width: 100%;
}

/* .bg-image{
  background-image: url('/images/hanabi2.jpg');
  background-size: cover;
  background-attachment: fixed;
}  */

/*ナビゲーション装飾*/
h1{
  font-size: 35px;
}
h2{
  font-size: 35px;
}

.main-nav {
  display: flex;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

.main-nav li {
  margin-left: 36px;
}

.mainLink {
  position: relative;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.mainLink:hover {
  color: darkgray;
}

.mainLink::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  height: 4px;
  background: darkgray;
  transition: 0.3s;
}

.mainLink:hover::before {
  left: 0;
  width: 100%;
}

/*ヘッダーの並列配置設定*/
.page-header h2 {
  color: #FFD0D0;
}

/* .page-header h2:hover{color: darkgray;} */
.page-header {
  display: flex;
  justify-content: space-between;
  color: #FFD0D0;
  background-color: black;
  padding: 0 10%;
}

/*余白設定*/
/* .wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
} */

/*画像の手前の文字設定*/
.home-content {
  text-align: center;
  margin-top: 15%;
}

.home-content h1 {
  color: aliceblue;
}

.home-content p {
  font-size: 2.125rem;
  margin: 10px 0 42px;
  color: #0090aa;
  background-color: lavender;
}

.button {
  font-size: 1.375rem;
  background-color: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}

.button:hover {
  background: #0090aa;
}

#atte {
  font-size: 1.5rem;
  color: #432;
}

/*背景画像設定*/
@keyframes removeBlur {
  0% {
    filter: blur(10px);
  }

  100% {
    filter: blur(0px);
  }
}

.big-bg {
  background-size: cover;
  background-position: center top;
  width: 100%;
}

#home {
  background-image: url('/images/webcover.jpg');
  filter: blur(10px);
  /* 最初はぼかしをかける */
  animation: removeBlur 3s ease-in-out forwards;
  min-height: 100vh;
  border-radius:0px 0px 40px 40px
}

#home .page-title {
  text-transform: none;
}

/*スライドショー*/
.slider {
  width: 100%;
  height: 1000px;
}


/*開催日時セクション*/
.schedule {
  padding: 15px;
  
}

.date-title {
  border-bottom: 4px solid darkgrey;
}

.date {
  font-size: 1.5rem;
  text-align: center;
}

.countdown {
  font-size: 1.8rem;
  text-align: center;
  
}
/*トピックセクション*/
.Topics{
  padding: 15px;
}
.Topic-title{
  border-bottom: 4px solid darkgray;
  color: black;
}
.content-date{
  margin-bottom: 0px;
  font-size: 23px;
  display: flex;
  /* border-top: 2px solid black; */
}
.content-txt{
  /* font-family: "Shippori Mincho B1", serif; */
  margin: 0px;
  /* border-bottom: 2px solid black; */
} 
.viewmore{
  margin: 0px;
  font-size: 16px;
  text-align: right;
  text-shadow: #fff 2px 0, #fff -2px 0, #fff 0 -2px, #fff 0 2px, #fff 2px 2px, #fff -2px 2px, #fff 2px -2px, #fff -2px -2px, #fff 1px 2px, #fff -1px 2px, #fff 1px -2px, #fff -1px -2px, #fff 2px 1px, #fff -2px 1px, #fff 2px -1px, #fff -2px -1px, rgba(0, 0, 0, .5) 3px 3px 3px;
}

/*--topicpage--*/

.topicpage-date{
  font-size: 23px;
  margin-bottom: 0px;
  border-top: 3px solid darkgray;
}
.topicpage-txt{
  margin-top: 0px;
  border-bottom: 3px solid darkgray;
}

.new{
  color: red;
  margin: 0;
  font-family: "DotGothic16", 'sans-serif';
  font-size: 20px;
  text-shadow: #fff 2px 0, #fff -2px 0, #fff 0 -2px, #fff 0 2px, #fff 2px 2px, #fff -2px 2px, #fff 2px -2px, #fff -2px -2px, #fff 1px 2px, #fff -1px 2px, #fff 1px -2px, #fff -1px -2px, #fff 2px 1px, #fff -2px 1px, #fff 2px -1px, #fff -2px -1px, rgba(0, 0, 0, .5) 3px 3px 3px;

}

.bevoiceImg{
  width: 350px;
  height: auto;
  text-align: center;
}

/* イベントセクション */
.card{
  width: 288px;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.card__imgframe1{
  width: 100%;
  height: auto;
  padding-top: 56.25%;
  background: url('/images/TGU-Contest-2024.png') no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}
.card__imgframe4{
  width: 100%;
  height: auto;
  padding-top: 56.25%;
  background: url('/images/sns-tgucon.PNG') no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}



.card__textbox{
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #ffffff;
  box-sizing: border-box;
}
.card__textbox > * + *{
  margin-top: 10px;
}
.card__titletext{
  font-size: 18px;
  font-weight: bold;
  line-height: 125%;
}
.card__overviewtext{
  font-size: 12px;
  line-height: 150%;
}
.card-skin{
  overflow: hidden;
  border-radius: 8px;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  border-bottom: solid 5px #888;
}


/*SNSセクション*/
.sns {
  padding: 15px;
}

.sns-title {
  /* margin-left: 100px; */
  border-bottom: 4px solid darkgray;
  color: black;
}

.sns-bg {
  display: flex;
  justify-content: space-between;
  /* margin-left: 150px; */
} 

.sub-title {
  margin-bottom: 30px;
}

.sns-box {
  width: 30%;
  text-align: center;
}

.pic-container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #fefefe;
}

.snswrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.7rem;
}

.snscard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: 30%;
  height: 340px;
  word-wrap: break-word;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  background: url('/images/sns-tgucon.PNG')center
}

.snscard::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(171, 102, 255, .5) 0%, rgba(116, 182, 247, .5) 90%); */
  content: '';
  z-index: -1;
}

.snscard-title {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.snscard-link {
  position: absolute;
  bottom: 2rem;
  padding: 0.5rem;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  transition: .5s;
}

.snscard-link:hover {
  background-color: #fff;
  color: #333;
}


/*アクセスセクション*/

.access {
  /*margin-left: 36px;*/
  padding: 15px;
}

.acc-info {
  margin-left: 1px;
  border-bottom: 4px solid darkgray;
}

.acc-detail {
  text-align: center;
  margin-top: 25px;
  font-size: 1.5rem;
}

.goo-map {
  aspect-ratio: 16 / 9;
  max-width: 1000px;
  width: 100%;
  height: 1000px;
}


.backtop {
  text-align: center;
  padding: 10px;
  background-color: darkgray;
}

/*フッダーセクション*/
footer {
  background-color: black;
  text-align: center;
  padding: 26px 0;
  width: 100%;
}

footer p {
  color: #fff;
  font-size: 0.875rem;
}

/*googleform*/
.form {
  text-align: center;
  background-color: white;
}

.goo-form {
  width: 80%;
}


.coming {
  text-align: center;
}

/*オープニングアニメーション*/

.loadingTxt{
  font-size: 24px;
}

/* TGUコンテストページ */

.TGconBg{
  background-image: url('/images/bal-4.png');
  background-attachment: fixed;
} 

.TGconTitle{
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 800;
  margin-top: 0%;
  padding-top: 30px;
}

.yt{
  padding-top: 50px;
  position: relative; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 0 auto; /* Center align the container */
}

.yt iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

.themeSec{
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  border-width: 1px;
  border-style: groove;
  margin: 35px;
  line-height: 2.5;
}

.tgcon-date{
  padding: 15px;
  margin-bottom: 70px;
}

.tgcon-date-title{
  border-bottom: 2px solid black;
}

.tgcon-date-deil{
  text-align: center;
}

.tgcon-person-title{
  margin: 15px;
  border-bottom: 2px solid black;
}

.personbox{
  text-align: center;
  width: 40%;
}
.personContainer{
  display: flex;
  justify-content: center;
  padding-top: 50px;

}

/* 芸能人ページ */
.comedy-wep{
  background-color: blue;
}

.comedy-main-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.comedy-logo{
  width: 750px;
  height: 238px;
}





/*--------------スマホのレスポンシブデザイン--------------------------------------------------*/

@media (max-width:600px) {

  h1{
    font-size: 20px;
  }

  h2{
    font-size: 17px;
  }

  .page-header {
    font-size: 0.5rem;
    flex-direction: column;
  }

  .wrapper {
    padding: 0;
  }

  /*Header*/
  .main-nav {
    font-size: 0.5rem;
    margin-top: 10px;
  }

  .main-nav li {
    margin: 0 10px;
  }

  /*HOME*/
  .home-content {
    margin-top: 20%;
  }

  /*開催日時セクション*/
  .schedule {
    padding: 15px;
  }

  .date {
    font-size: 1rem;
  }

  .countdown {
    font-size: 1.4rem;
  }
  .date-detail{
    padding-left: 0px;
    font-size: 0.95rem;
  }

  /*トピックセクション*/
  .content-date{
    margin-top:10px;
    font-size: 20px;
  }
  .content-txt{
    font-size: 15px;
    padding-left: 10px;
  }

  .viewmore{
    font-size: 13px;
    text-align: right;
  }


  /*SNSセクション*/
  .sns {
    padding: 15px;
  }

  .sns-bg {
    flex-direction: column;
  }
  .sns-box{
    width: 100%;
    
  }
  .snswrapper{
    flex-direction: column;    
  }

  /*スライドショー下余白*/
  .slider {
    height: 250px;
    width: 100%;
  }

  .slider {
    overflow: hidden;
  }

  /*アクセス情報*/
  .bg-access {
    padding: 15px;
  }

  .way {
    padding: 0px;
  }

  .acc-detail {
    font-size: 1rem;
    margin-top: 0px;
  }

  .goo-map {
    height: 500px;
  }

  /* フッダーセクション */
  .ft{
    font-size: 0.5rem;
  }

  /*トピックページ*/
  .topicpage-date{
    margin-bottom: 0px;
    border-top: 2px solid darkgray;
    font-size: 18px;
  }
  .topicpage-txt{
    font-size: 13px;
    margin-top: 0px;
    border-bottom: 2px solid darkgray;
  }
  .new{
    font-size: 15px;
  }

  .bevoice{
    width: 70%;
  }

  /*オープニングアニメーションセクション*/
  .loadingTitle{
    font-size: 20px;
  }

  .loadingTxt{
    font-size: 13px;
  }

  /* TGUコンテストページ */
  .TGconBg{
    background-image: url('/images/bal-3.jpg');
    background-attachment: fixed;
  } 

  .yt{
    width: 208px;
    height: 117px;
  }

  .themedeil{
    font-size: 0.75rem;
  }
  .personbox{
    width: 225px;
    height: 300px;
    padding-bottom: 100px;
  }
  .personContainer{
    flex-direction: column;
    padding: 0%;
    align-items: center;
  }
  .photo{
    width: 225px;
    height: 300px;
  }
  .personName{
    margin-top: 0%;
  }

  .comedy-logo{
    width: 450px;
    height: 143px;
  }
}